[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
opencv-python = "*"
import = "*"
pywavelets = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
